@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views/**/*.blade.php';
@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* BNI Brand Colors */
    --color-brand:#B40E29;
    --color-brand-dark:   #8f0b21;
    --color-brand-light:  #d4415a;
    --color-brand-xlight: #f9d0d6;
}
